/* main page styles*/
.jumbotron {
    color: black;
    padding-left: inherit;
    padding-right: inherit;
}

/* address list */
.panel-heading {
    padding-bottom: 20px;
}

.wrap-panel-header {
    text-overflow: ellipsis;
    width: 250px;
    overflow: hidden;
}

/* prevent overflow clip when the panels have more room */
@media (min-width: 992px) {

    .wrap-panel-header{
        width: 100%;
    }
}

