{%  macro create_form(form, controller, method='POST') -%}
    <form action="{{ url_for(controller) }}" method="{{ method }}">
        {% for field in form %}
            {# if the form has any errors set the following variables #}
            {% if field.errors %}
                {% set error = field.errors %}
                {% set group_error = "has-error" %}
            {% else %}
                {% set error = None %}
                {% set group_error= "" %}
            {% endif %}
            <div class="form-group {{ group_error }}">
                {{ field.label }}
                {{ field(class_="form-control") }}
                {% if error %}
                    <span class="help-block">
                        {{ " | ".join(field.errors) }}
                    </span>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-group-lg">Submit</button>
    </form>
{%- endmacro %}

