{#  templates/sheets/sheet_music_stub.html #}
<li class="sheet-music-stub col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="panel panel primary">
        <div class="panel-heading text-center">
            <a href="{{ url_for('sheets.index', sheet_music_id = sheet_music.id) }}">
                {{ sheet_music.title }}
            </a>
        </div>
    </div>

    <div class="panel-body">

        <img src= {% if not sheet_music.cover %}
                     "{{ url_for('static',
                filename='assets/images/sheet_image_stub.jpg') }}
                 {% else %}
                    {{ sheet_music.cover }}
                 {% endif %}">
    </div>
</li>
