{% import 'util.html' as util %}


<li class="item-stub col-xs-12 col-sm-6 col-lg-3">
    <div class="panel panel-default">
        {% if trading %}
            {% set post_url = url_for('trades.trading') %}
            {% set form_button = util.form_button(post_url,
                util.icon('thumbs-up'),
                        input=True,
                        input_value= item.id ~ " " ~ trade_id,
                        input_name="trade_item") %}
        {% else %}
            {% set post_url = url_for('trades.request_trade', requested_item_id=item.id) %}
            {% set form_button=util.form_button(post_url,
                util.icon('random')) %}
        {% endif %}
        <div class="panel-heading">
                {{ item.sheetmusic.title }} {{ form_button }}
        </div>
        <div class="Panel-body">
            {{ item.condition }}
        </div>
    </div>
</li>


