{% extends 'base.html' %}

{% set sheetmusic=item.sheetmusic %}

{% block page_content %}
    <h1> {{ sheetmusic.title }}</h1>

    {% if g.user and item.user == g.user %}
    <a id="edit-item" href="{{ url_for('.update', item_id=item.id) }}">Edit item</a>
    {% endif %}

    {% if not item.available and item.user == current_user %}
        <p class="item-not-available">this item is hidden from other users</p>
    {% endif %}

    <p id="title">{{ sheetmusic.title }}</p>
    <p id="composer">{{ sheetmusic.composer }}</p>
    <p id="condition">{{ item.condition_text }}</p>
    <p id="description">{{ item.description }} </p>

    <div class="row images">
        {% for image in item.images %}
            <div class="col-sm-12 col-md-4">
                <a href="{{ url_for('main.get_image', filename=image) }}">
                    <img class="thumbnail" src="{{ url_for('main.get_thumbnail', filename=image) }}">
                </a>
            </div>
        {% endfor %}
    </div>


{% endblock page_content %}