{% extends 'base.html' %}
{% import 'util.html' as util %}

{% block styles %}
    {{ super() }}
    <link href="{{ url_for('static', filename='assets/css/dashboard/styles.css') }}"
          rel="stylesheet">
{% endblock styles %}

{% block sub_title %}dashboard{% endblock %}
{% block page_content %}
    <h1>This is your dashboard, {{ current_user.username }}</h1>

    {% if trades %}
    <h1>Trades Pending</h1>
        {% include 'trades/trade_list.html' %}
        {% else %}
        <h1>No trades pending</h1>
    {% endif %}

    {% if completed_trades %}
    <h1> Trades Completed</h1>
        {% with trades=completed_trades %}
        {% include 'trades/trade_list.html' %}
        {% endwith %}
    {% else %}
        <h1>No completed Trades</h1>
    {% endif %}

    {% if rejected_trades %}
    <h1>Trades Rejected</h1>
        {% with trades=rejected_trades %}
        {% include 'trades/trade_list.html' %}
        {% endwith %}
    {% else %}
        <h1> No rejected trades</h1>
    {% endif %}

{% endblock page_content %}

