{% extends 'base.html' %}
{% import 'util.html' as util %}

{% block styles %}
    {{ super() }}
    <link href="{{ url_for('static', filename='assets/css/dashboard/styles.css') }}"
          rel="stylesheet">
{% endblock styles %}

{% block sub_title %}dashboard{% endblock %}
{% block page_content %}
    <h1>This is your dashboard, {{ current_user.username }}</h1>

    <a href="{{ url_for('auth.list_addresses') }}">Edit Mailing Address</a>
    <a href="{{ url_for('sheets.create', creating_item=1) }}" id="create-item-link">Create an Item</a>


    {% if trades_requested %}
        <h2>Trades Requested By Me</h2>
        {% with trades=trades_requested %}
            {% include 'trades/trade_list.html' %}
        {% endwith %}
    {% else %}
        <h2>No trades requested yet, get trading!</h2>
    {% endif %}

    {% if trades %}
    <h2>Trades Pending</h2>
        {% include 'trades/trade_list.html' %}
        {% else %}
        <h2>No trades pending</h2>
    {% endif %}

    {% if completed_trades %}
    <h2> Trades Completed</h2>
        {% with trades=completed_trades %}
        {% include 'trades/trade_list.html' %}
        {% endwith %}
    {% else %}
        <h2>No completed Trades</h2>
    {% endif %}

    {% if rejected_trades %}
    <h2>Trades Rejected</h2>
        {% with trades=rejected_trades %}
        {% include 'trades/trade_list.html' %}
        {% endwith %}
    {% else %}
        <h2> No rejected trades</h2>
    {% endif %}

    {% if current_user.items %}
        <h2>My Items</h2>
        {% with items=current_user.get_available_items() %}
            {% include 'items/dashboard_item_list.html' %}
        {% endwith %}
    {% else %}
        <h2>Add some items!</h2>
    {% endif %}


{% endblock page_content %}

